body{
    font-family: "Mozilla Headline",
        sans-serif;
        background-color: #272044;
}


header{
background-image:  linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)),
 url("../images/Humantay\ mountain.jpg");
background-repeat: no-repeat;
background-size: cover; 
color: azure;
text-align: center;
padding: 200px 0;
}
header h1{
font-weight: 700;
font-size: 96px;
line-height: 1;
margin: 30px 0;

}
header h2{
    font-weight: 400 ;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

header h3{
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;

}
header a{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5 ;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: azure;
    text-decoration: none;
    padding:16px 32px;
    color: rgb(5, 5, 139);
    margin-top: 32px;
    display: inline-block;
} 

.container{
max-width: 1300px;
margin: 0 auto;
}
section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
.grid{
    display: grid;
      grid-gap: 64px;
}
.grid-2-columns{
    grid-template-columns: 1fr 1fr;
    
}
.grid-3-columns-with-first-narrow{
grid-template-columns: 1fr 2fr 2fr;
}
.img-responsive{
    max-width: 100%;
    border-radius: 4px;
    height: auto;

}
main{
    background-color: azure;
}
main h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
    color: #272044;
    opacity: 0.3;
    text-transform: uppercase;

}
main h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
    color: #272044;

}
main p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #272044;
    opacity: 0.7;
}
footer{
    color: azure;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url("../images/cusco\ 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   }
footer h3{
    font-weight: 700;
    line-height: 30px;
    font-size: 20px;
}
footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
}
footer ul{
    padding: 0;
}
footer li{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer a{
    color: azure;
   opacity: 0.6;
}
@media(max-width:960px){
header{
    padding: 60px 0; 
}
header h1{
    font-size: 48px;
}
header h2{
    font-size: 20px;
}
header h3{
    font-size: 12px;
}
.grid{
    grid-template-columns: 1fr;
}
section{
    padding: 30px;
}
img{
    display: none;
}
}

